*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 255, 191);
}
nav{
    display: flex;
}
.logo{
    width: 20%;
}
.logo img{
    width: 140px;
    padding: 5%;
}
.navbar {
    height: 130px;
    padding-left: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar li{
    list-style: none;
    padding: 0 23px

}
.navbar li a{
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;

}
.navbar a:hover{
background-color: chartreuse;
text-decoration: underline yellow;
padding: 10px;
padding-left: 0px;

}
.navbar a:active{
background-color: white;
text-decoration: underline red;
padding: 10px;
padding-left: 0px;

}
.header-btn a{
padding: 10px 20px;
text-decoration: none;
padding-top: 12%;
color: black;
font-weight: 700;
font-size: 2rem;    
}
.header-btn{
padding-top: 6%;
padding-left: 25%;
}
.header-btn a:hover{
background-color: wheat;
text-decoration: underline yellow;
padding: 10px;
padding-left: 0px;
} 
main{
    background-color: wheat;
    margin: 1%;
    height: 327px;
    text-align: center;
    display: flex;
   }
   .contaner{
    width: 65%;
   }
   .text{
    padding: 2% 4%;
   }
   .photo{
    width: 31%;
   }
   .photo  img{
    width: 68%;
   }
   .app img{
    width: 64%;
    height: 74px;
    }
    .google img{
        width: 73%;
        height: 108px;
    }
   .img{
    display: flex;

   }
   .app{
    padding-top: 5%;
    padding-left: 13%;
   }
   .google{
    padding-top: 3%;
   }
   footer{
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    
   }
   .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
   }
   #copyr{
     padding-top: 5%;
   }
